{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

  <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for stocks in listStocks %}
            <tr>
                <td>{{stocks['symbol']}}</td>
                <td>{{stocks['shares']}}</td>
                <td>$146.75</td>
                <td>{{stocks['created_at']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}